/*---------------------SIDEBAR---------------------*/
.sidebar {
    width: 250px;
    background: linear-gradient(to top, #D6CCC2, #F5EBE0);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    overflow-y: auto;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
    font-family: 'Cookie', cursive;
    min-height: 100vh;

    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.sidebar h1 {
    font-size: 20px;
    color: #D5BDAF;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    margin-left: 5px;
}

.user-item {
    text-align: center;
    padding: 12px 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #E3D5CA;
    color: #ffffff;
    cursor: pointer;
    font-size: 1rem;

    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.user-item:hover{
    background-color: #d3c1b0;
    color: #877569;
}

.user-item.active {
    background-color: #bbdefb;
    color: #e3f2fd;
}

/*---------------------WRITING AREA---------------------*/
.writing-area {
    flex: 1;
    min-height: 100vh;
    display: none;
    flex-direction: column;
    padding: 20px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}

.writing-area.active {
    display: flex;
}

.writing-content {
    flex: 1;
    padding: 12px;
    border-radius: 6px;
    background-color: #F5EBE0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    color: #5e503f;
    font-family: 'Cookie', cursive;

    overflow-y: auto;
    overflow-x: hidden;

    scrollbar-width: none;
    -ms-overflow-style: none; 
}

.writing-content::-webkit-scrollbar {
    display: none;
}

/*---------------------MESSAGES---------------------*/
.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.message-container.sent {
    align-items: flex-end;
}

.message {
    font-family: 'Cookie', cursive;
    padding: 12px;
    color: #5e503f;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 75%;
    word-wrap: break-word;
}

.sent .message {
    background: linear-gradient(to top, #fcf9ad, #f8c17a);
}

.received .message {
    background: linear-gradient(to top, #edfdfd, #bdf7f7);
}

.user-name {
    font-weight: bold;
    color: #a9927d;
    margin-bottom: 5px;
    font-size: 0.9rem;
}

.message-time {
    font-size: 0.7rem;
    color: #a9927d;
    margin-top: 3px;
    font-family: 'Cookie', cursive;
}

/*---------------------WRITING INPUT---------------------*/
.writing-input {
    margin-top: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 8px;
    background-color: #F5EBE0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    flex-wrap: wrap;
}

.writing-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #d4d4d4;
    border-radius: 20px;
    color: #5e503f;
    font-size: 0.9rem;
}

.writing-input button {
    padding: 10px 16px;
    background-color: #746b61;
    color: #fff;
    border: none;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
}

.writing-input button:hover {
    background-color: #91867a;
}

.message-date-header {
    text-align: center;
    font-size: 1rem;
    font-weight: normal;
    color: #c2af9a;
    font-family: 'Cookie', cursive;
    font-weight: bold;
    margin: 15px 0;
    padding: 3px;
    background: none;
}

/*---------------------DROPDOWN---------------------*/
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    color: #5E503F;
    cursor: pointer;
    font-size: 1rem;
    padding: 5px;
    font-family: 'Cookie', cursive;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 160px;
    padding: 10px;
    z-index: 10;
}

.dropdown-menu button {
    background: none;
    color: #5E503F;
    border: none;
    padding: 8px 10px;
    width: 100%;
    text-align: left;
    font-size: 0.9rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-menu button:hover {
    background-color: #d5bdaf;
}

.dropdown.active .dropdown-menu {
    display: block;
}

.message-container.sent .dropdown-menu {
    left: auto;
    right: 0;
}

/*---------------------FILES & IMAGES---------------------*/

.file-preview-container {
    display: none;
    width: 100%;
    overflow-x: auto;
    gap: 8px;
    padding: 8px;
    background-color: #E3D5CA;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

.file-preview-area {
    display: flex;
    gap: 8px;
    padding: 8px;
    border-radius: 6px;
    width: 100%;
    min-height: 50px;
    overflow-x: auto; 
}

.file-preview {
    display: flex;
    background:none;
    align-items: center;
    gap: 6px;
    padding: 6px;
    border-radius: 6px;
    flex: 1;
    max-width: 120px;
    min-width: 80px;
    justify-content: center;
    overflow: hidden;
}


