.main-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-container {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    width: 100%;
}

/* ---------------------CONTAINERS--------------------- */
.reminders-container,
.notifications-container,
.tasks-container {
    flex: 1;
    min-width: 0;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    box-sizing: border-box;
}


.notifications-container {
    background-color: #F5EBE0;
}
.reminders-container {
    background-color: #EDEDE9;
}
.tasks-container {
    background-color: #E3D5CA;
}

.notifications-container h1,
.reminders-container h1,
.tasks-container h1 {
    margin-bottom: 1rem;
}

.notifications li,
.reminders-container li {
    margin-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
}


/* ---------------------TASKS--------------------- */

.task-list {
    margin-top: 1rem;
    width: 100%;
    height: 300px;
    overflow-y: auto;
}

.task-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
}

.checkbox {
    border-color: #b5b4b3;
}

.task-list a {
    color: #5E503F;
}

.delete-btn {
    color: #5E503F;
    font-size: 1rem;
    cursor: pointer;
    padding: 5px;
}

.delete-btn:hover {
    color: #5E503F;
}

.create-task {
    margin-top: auto;
    padding: 0.5rem 1rem;
    color: #5E503F;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.completed a {
    text-decoration: line-through;
    color: #9e9e9e;
}


/* ---------------------WEEKS & CALENDARS--------------------- */

.schedule-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.calendar-day {
    flex: 1 1 120px;
    height: 300px;
    background-color: #EAE0D5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    position: relative;
}

.calendar-day:hover {
    background-color: #D5BDAF;
    cursor: pointer;
}


.calendar-day .day-number {
    font-size: 1.5rem;
    font-weight: bold;
    color: #C6AC8F;
}

.today {
    border: 2px solid #D5BDAF;
    background-color: #E3D5CA;
}

.today .day-number {
    color: #fffcf2;
}


/* ---------------------NOTIFICATION $ REMINDER--------------------- */

.notifications h3 {
    margin-bottom: 8px;
}
.notifications ul {
    list-style: none;
    padding: 0;
}

.reminder-content {
    font-size: 16px;
}


/* ---------------------DESIGN--------------------- */
.calendar-day,
.notifications li,
.reminders-container li {
    transition: all 0.3s ease;
}
.calendar-day:hover,
.notifications li:hover,
.reminders-container li:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

